
html
{
	margin: 0;
	padding: 0;
}
h1
{ 
	font: italic normal 1.2em georgia, sans-serif;
	line-height: 1.88889;
	color: white; 
	background-color: orange;
	margin: 0; 
	padding: 0;
}
h2 
{ 
	font: italic normal 1.0em georgia, sans-serif;
	letter-spacing: 1px; 
	color: white;
	background-color: lightblue;
	margin: 0; 
	padding: 0;
}
ul 
{
	margin: 0;
	padding: 0;
    list-style-type: circle;
    left: 1.2em;
    position: relative;
}

li
{
    font: 2.5ex arial, georgia, sans-serif;
    line-height: 4.5ex;
    display: block;
}

.vis   { color: red;    }
.var   { color: gray;   }
.type  { color: blue;   }
.opr   { color: darkred }
