
/* IE6 Warning ---*/

#ie6-warning {
	position: absolute;
	top: 0;
	z-index: 999;
	font-size: 110%;
	height: 0;
	overflow: hidden;
}

#ie6-warning .main {
	background: #ffffdd;
	border-bottom: 1px solid #ddd;
	padding: 10px 0;
}

#ie6-warning .main .inner {
	background: url(icon-ie.jpg) no-repeat 10px 0px;
	padding-left: 170px;
}

#ie6-warning .main h1 {
	margin: 10px 0;
}

#ie6-warning .main p.note {
	font-weight: bold;
	color: #cc0000;
	margin: 5px 0;
}

#ie6-warning li {
	display: inline;
	padding: 10px 10px 10px 0;
	float: left;
}

#ie6-warning li a {
	width: 48px;
	height: 48px;
	display: block;
}

#ie6-warning li a.firefox-download {
	background: url(icon_brwoser.jpg) no-repeat top left;
}

#ie6-warning li a.chrome-download {
	background: url(icon_brwoser.jpg) no-repeat 50% top;
}

#ie6-warning li a.safari-download {
	background: url(icon_brwoser.jpg) no-repeat 75% top;
}

#ie6-warning li a.opera-download {
	background: url(icon_brwoser.jpg) no-repeat 100% top;
}

#ie6-warning li a.ie-download {
	background: url(icon_brwoser.jpg) no-repeat 25% top;
}

#ie6-warning li a.firefox-download:hover,
#ie6-warning li a.firefox-download:focus,
#ie6-warning li a.firefox-download:active {
	background: url(icon_brwoser.jpg) no-repeat bottom left;
}

#ie6-warning li a.chrome-download:hover,
#ie6-warning li a.chrome-download:focus,
#ie6-warning li a.chrome-download:active {
	background: url(icon_brwoser.jpg) no-repeat   50% bottom;
}

#ie6-warning li a.safari-download:hover,
#ie6-warning li a.safari-download:focus,
#ie6-warning li a.safari-download:active {
	background: url(icon_brwoser.jpg) no-repeat  75% bottom;
}

#ie6-warning li a.opera-download:hover,
#ie6-warning li a.opera-download:focus,
#ie6-warning li a.opera-download:active {
	background: url(icon_brwoser.jpg) no-repeat  100% bottom;
}

#ie6-warning li a.ie-download:hover,
#ie6-warning li a.ie-download:focus,
#ie6-warning li a.ie-download:active {
	background: url(icon_brwoser.jpg) no-repeat 25% bottom;
}

#ie6-warning li a:hover,
#ie6-warning li a:focus,
#ie6-warning li a:active {
	text-decoration: none;
}

#ie6-warning .close {
	position: absolute; 
	right: 3px; 
	bottom: 3px;
}

#ie6-warning .close a {
	background: url(close.gif) no-repeat;
	width: 21px;
	height: 21px;
	display: block;
	text-decoration: none;
}
#ie6-warning .close * {
	float : right
}

#ie6-warning .close a:hover,
#ie6-warning .close a:focus,
#ie6-warning .close a:active {
	background: url(close-hover.gif) no-repeat;
	text-decoration: none;
}