pe_name           matlab
slots             <the_number_of_slots>
user_lists        NONE
xuser_lists       NONE
start_proc_args   <path-to>/startmatlabpe.sh $pe_hostfile
stop_proc_args    <path-to>/stopmatlabpe.sh
allocation_rule   $round_robin
control_slaves    FALSE
job_is_first_task FALSE
urgency_slots     min
