<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="permissions"
		description="JCONFIG_PERMISSIONS_DESC"
		label="JCONFIG_PERMISSIONS_LABEL"
	>
		<field name="rules" type="rules"
			component="com_jdownloads"
			filter="rules"
			validate="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			section="component"
			description="JCONFIG_PERMISSIONS_DESC">
			<action name="core.admin" title="JACTION_ADMIN" description="JACTION_ADMIN_COMPONENT_DESC" />
			<action name="core.manage" title="JACTION_MANAGE" description="JACTION_MANAGE_COMPONENT_DESC" />
			</field>
	</fieldset>
</config>