#jasdl-mainnav {
	position: relative;
	border-right: 1px solid #666;
	float: left;
}

#jasdl-mainnav ul { display: block; }

#jasdl-mainnav li {
	float: left;
	padding: 0;
	margin: 0;
}

#jasdl-mainnav a {
	border-left: 1px solid #666;
	border-right: 1px solid #333;
	color: #ccc;
	display: block;
	float: left;
	font-weight: bold;
	line-height: normal;
	margin: 0;
	padding: 8px 15px;
	text-decoration: none;
}

#jasdl-mainnav a:hover,
#jasdl-mainnav ul li.hover a {
	background: url(../../images/grad1-mask.png) repeat-x top #666;
	color: #fff;
}

#jasdl-mainnav li.active a,
#jasdl-mainnav li.active a:hover,
#jasdl-mainnav li.active a:active,
#jasdl-mainnav li.active a:focus {
	background: url(../../images/grad1-mask.png) repeat-x top #006699;
	color: #fff;
}

#jasdl-subnav .first-item { border-left: 0; }

#jasdl-subnav { display: none; }

/* Sub Nav ---*/
#ja-subnav { border-top: 1px solid #666; background: #333; position: relative; z-index: 999; }

#ja-subnav .main {
	line-height: 1;
	z-index: 10;
}

#ja-subnav ul {
	background: #333;
	overflow: hidden;
	padding: 10px 0;
}

#ja-subnav ul.active { background: #333; }

#ja-subnav li {
	background: none;
	border-left: 1px dotted #999;
	display: block;
	float: left;
	padding: 0 10px 0 11px;
}

#ja-subnav li.first-item { border-left: 0; }

#ja-subnav ul li a { color: #ccc; display: block; text-decoration: none; }

#ja-subnav ul li a:hover { color: #fff; }

#ja-subnav ul li.active a,
#ja-subnav ul li.active a:hover,
#ja-subnav ul li.active a:active,
#ja-subnav ul li.active a:focus {
	color: #fff;
	font-weight: bold;
	text-decoration: underline;
}

#ja-subnav ul.active li a { color: #ccc; }

#ja-subnav ul.active li a:hover { color: #fff; }

#ja-subnav ul li.empty { visibility: hidden }

/* Sub Nav (lv2) ---*/
#ja-subnav ul li ul {
	background: #ddd;
	border: 1px solid #ccc;
	display: block;
	height: auto;
	left: -999em;
	padding: 0;
	margin: 0px;
	position: absolute;
	overflow: visible;
}

#ja-subnav ul li.hover ul {
	display: block;
	height: auto;
	left: auto;
	position: absolute;
	margin-top: 3px;
	margin-left: 5px;
}

#ja-subnav ul li.haschild a.haschild {
	background: url(../../images/arrow.png) no-repeat right center !important;
	padding-right: 12px !important;
}

#ja-subnav ul li.haschild a.haschild:hover {
	background: url(../../images/arrow3.png) no-repeat right center !important;
}

#ja-subnav ul li.hover li a { background: none; padding-right: 0; }

#ja-subnav ul li ul li {
	border-bottom: 1px solid #ccc;
	border-left: 0;
	display: block;
	float: none;
	padding: 5px;
	text-align: left;
}

#ja-subnav ul li ul li a {
	background-image: none !important;
	border: 0 !important;
	color: #333 !important;
	font-weight: normal !important;
	text-decoration: none !important;
}

#ja-subnav ul li ul li a span.menu-title { padding-top: 3px; padding-bottom: 3px; }

#ja-subnav ul li ul li a:hover {
	background-image: none !important;
	color: #069 !important;
	text-decoration: underline !important;
}

#ja-subnav ul li ul li a.active {
	color: #069; !important;
	font-weight: bold !important;
}

#ja-subnav ul li.active a.active {
	color: #ddd;
}
#ja-subnav ul li.active a.active:hover, 
#ja-subnav ul li.active a.active:active, 
#ja-subnav ul li.active a.active:focus {
	color: #fff;
}
#ja-subnav ul li.haschild a {
	border: solid 1px transparent;
}
#ja-subnav ul li.haschild a.haschild span.menu-title {
	background: none !important;
	padding-right: 0px;
	width: 100%;
}

