/* Copyright 1990-2004 The MathWorks, Inc.
/* $Revision: 1.7.2.5 $ */
--WrapperIntroduction--


/*
 * Include Files
 *
 */
--IncludeSimStuctOrRTWTypes--
--IncludeBusHeader--

/* %%%-SFUNWIZ_wrapper_includes_Changes_BEGIN --- EDIT HERE TO _END */
--IncludeHeaders--

/* %%%-SFUNWIZ_wrapper_includes_Changes_END --- EDIT HERE TO _BEGIN */
--DefinesWidths--
/*
 * Create external references here.  
 *
 */
/* %%%-SFUNWIZ_wrapper_externs_Changes_BEGIN --- EDIT HERE TO _END */
--WrapperExternalDecalrations--

/* %%%-SFUNWIZ_wrapper_externs_Changes_END --- EDIT HERE TO _BEGIN */

/*
 * Output functions
 *
 */
--mdlOutputsFcnPrototype--
{
/* %%%-SFUNWIZ_wrapper_Outputs_Changes_BEGIN --- EDIT HERE TO _END */
--mdlOutputsFcnCode--
/* %%%-SFUNWIZ_wrapper_Outputs_Changes_END --- EDIT HERE TO _BEGIN */
}
--mdlUpdateFcnPrototype--
--mdlUpdateFcnCode-- 
--mdlDerivativesFcnPrototype--
--mdlDerivativesFcnCode-- 
