import com.mathworks.toolbox.distcomp.util.ConfigUtil;
import com.mathworks.toolbox.distcomp.util.SystemPropertyNames;
import com.mathworks.toolbox.distcomp.control.PortConfig;

/* Copyright 2005 The MathWorks, Inc. */

/**
 * The config file that can provide CommandConfigReader with all the neccessary
 * information to determine whether to create an instance of ControlJobmanager,
 * ControlWorker or ControlLookup, and to create the appropriate object.
 */
com.sun.jini.start {
    // What process to start/stop:
    remoteCommandType = "${com.mathworks.toolbox.distcomp.remote_command_type}";
    // Where to start it or stop it:
    remoteHostname = "${com.mathworks.toolbox.distcomp.remote_hostname}";
    remoteCommandPort = PortConfig.getRemoteCommandPort("${com.mathworks.toolbox.distcomp.base_port}");
    // Other settings needed for the remote command:
    remoteAction = "${com.mathworks.toolbox.distcomp.remote_command_action}";
    serviceName = "${com.mathworks.toolbox.distcomp.servicename}";
    serviceConfigFile = "${com.mathworks.toolbox.distcomp.service_config_file}";
    lookupHosts = "${com.mathworks.toolbox.distcomp.lookup_hosts}";
    cleanCheckpointInfo = "${com.mathworks.toolbox.distcomp.clean_checkpoint_info}";
    jobmanagerName = "${com.mathworks.toolbox.distcomp.jobmanagername}";
    verbosity = "${com.mathworks.toolbox.distcomp.remote_command_verbosity}";
}
