import com.mathworks.toolbox.distcomp.util.ConfigUtil;
import com.mathworks.toolbox.distcomp.control.PortConfig;

/* Copyright 2004-2010 The MathWorks, Inc. */

com.mathworks.toolbox.distcomp.jobmanager {
    private static configDir = "${com.mathworks.toolbox.distcomp.toolboxroot}${/}config${/}";

    /* properties read by job manager during initialization */
    persistenceDirectory = "${com.mathworks.toolbox.distcomp.persistenceDir}";
    logDirectory = "${com.mathworks.toolbox.distcomp.logdir}";
    serviceName = "${com.mathworks.toolbox.distcomp.servicename}";
    clean_checkpoint_info="${com.mathworks.toolbox.distcomp.clean_checkpoint_info}";

    maxJobManagerHeapMemory = "${com.mathworks.toolbox.distcomp.maxJobManagerHeapMemory}";
    workerTimeoutIntervalSecs = 600;
    workerRenewalIntervalSecs = 60;
    maxNumWorkers = 512;
    maxNumClients = 32;
    invocationRetryIntervalSecs = 5;
    maxConcurrentResultSubmissions = 10;
    /* Switch between databases used in the jobmanager. */
    /* Currently supported databases: "H2". */
    databaseToUse = "H2";

    lookupPort = PortConfig.getLookupUnicastPort("${com.mathworks.toolbox.distcomp.base_port}");
    lookupHosts = "${com.mathworks.toolbox.distcomp.lookup_hosts}";

    policy = ConfigUtil.concat(new String[]{configDir,"jsk-all.policy"});
    minServiceExportPort = PortConfig.getMinDistcompServiceExportPort("${com.mathworks.toolbox.distcomp.base_port}");

    logLevel = "${com.mathworks.toolbox.distcomp.loglevel}";

    serviceLogFile = "${com.mathworks.toolbox.distcomp.logdir}${/}jobmanager_${com.mathworks.toolbox.distcomp.servicename}.log";

    securityLevel = "${com.mathworks.toolbox.distcomp.securityLevel}";
    securityDir   = "${com.mathworks.toolbox.distcomp.securityDir}";
    mdceAllowGlobalPasswordlessLogon = "${com.mathworks.toolbox.distcomp.auth.mdceAllowGlobalPasswordlessLogon}";
    allowClientPasswordCache         = "${com.mathworks.toolbox.distcomp.auth.allowClientPasswordCache}";
    adminUser                        = "${com.mathworks.toolbox.distcomp.auth.adminUser}";
    allowedUsers                     = "${com.mathworks.toolbox.distcomp.auth.allowedUsers}";
}
