/* Security policy for non-secure Reggie */

/* Copyright 2004 The MathWorks, Inc. */

/* Grant all permissions to our classes */
/*grant codeBase "file:${com.mathworks.toolbox.distcomp.toolboxroot}lib${/}*" {
    permission java.security.AllPermission;
};*/

grant {
	permission java.security.AllPermission;
};