<?xml version="1.0" encoding="utf-8" ?>
<!--Copyright 2008-2010 The MathWorks, Inc. -->
<configuration>
  <configSections>
    <!--Register service's custom configuration sections and group-->
    <sectionGroup name="microsoft.Hpc.Session.ServiceRegistration"
                  type="Microsoft.Hpc.Scheduler.Session.Configuration.ServiceRegistration, Microsoft.Hpc.Scheduler.Session, Version=$HPC_SERVER_SCHEDULER_VERSION$.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
      <section name="service"
               type="Microsoft.Hpc.Scheduler.Session.Configuration.ServiceConfiguration, Microsoft.Hpc.Scheduler.Session, Version=$HPC_SERVER_SCHEDULER_VERSION$.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
               allowDefinition="Everywhere"
               allowExeDefinition="MachineToApplication"
               />
    </sectionGroup>
  </configSections>

  <microsoft.Hpc.Session.ServiceRegistration>
    <service assembly="$MDCS_BASE_DIRECTORY$\bin\win64\MdcsService.dll"
             contract="Mathworks.MdcsService.IMdcsService"
             type="Mathworks.MdcsService.MdcsService"
             architecture="x64">
             
             <!-- Environment variables used by the service -->
            <environmentVariables>
            </environmentVariables>
    </service>
  </microsoft.Hpc.Session.ServiceRegistration>
</configuration>

