import com.mathworks.toolbox.distcomp.util.ConfigUtil;
import com.mathworks.toolbox.distcomp.util.SystemPropertyNames;
import com.mathworks.toolbox.distcomp.control.PortConfig;

/* Copyright 2005 The MathWorks, Inc. */

/**
 * The config file that can provide CommandConfigParser with all the neccessary
 * information to create a StatusCommand.
 */
com.sun.jini.start {
    // First, the items that CommandConfigParser requires from all configuration
    // files.
    // 1) What process to create:
    remoteCommandType = "${com.mathworks.toolbox.distcomp.remote_command_type}";
    // 2) Where to run the command:
    remoteHostname = "${com.mathworks.toolbox.distcomp.remote_hostname}";
    remoteCommandPort = PortConfig.getRemoteCommandPort("${com.mathworks.toolbox.distcomp.base_port}");
    // 3) The verbosity level when running the command:
    verbosity = "${com.mathworks.toolbox.distcomp.remote_command_verbosity}";
    // Other settings needed for the status command.
    // How much status information should we display:
    statusInfoLevel = Integer.parseInt("${com.mathworks.toolbox.distcomp.status_info_level}");
}
