/* Configuration source file for JRMP phoenix */

import com.sun.jini.phoenix.*;
import net.jini.jrmp.JrmpExporter;
import com.mathworks.toolbox.distcomp.util.ConfigUtil;
import com.mathworks.toolbox.distcomp.control.PortConfig;

/* Copyright 2004-2010 The MathWorks, Inc. */

com.sun.jini.phoenix {

      private static logPrefix = "${com.mathworks.toolbox.distcomp.checkpointdir}${/}${com.mathworks.toolbox.distcomp.hostname}";
      private static act_sys_port = PortConfig.getPhoenixPort("${com.mathworks.toolbox.distcomp.base_port}");

      registryExporter = new RegistrySunExporter(act_sys_port);

      /* an object identifier. Sun uses the value 4 to identify phoenix */
      private static phoenix_obj_id = 4;

      /* these cannot be exported on anonymous ports because the port is stored on disk by phoenix */
      activatorExporter = new ActivatorSunJrmpExporter(act_sys_port);

      /* these cannot be exported on anonymous ports because the port is stored on disk by phoenix */
      systemExporter = new SunJrmpExporter(phoenix_obj_id, act_sys_port);
 
      /* these cannot be exported on anonymous ports because the port is stored on disk by phoenix */
      monitorExporter = new JrmpExporter(act_sys_port);

      instantiatorExporter = null;
      serviceType = "phoenix";
      persistenceDirectory = ConfigUtil.concat(new String[]{logPrefix, ConfigUtil.getServicePostfix(serviceType)});    
    
      groupConfig = new String[] { "${com.mathworks.toolbox.distcomp.toolboxroot}${/}config${/}phoenix-group.config" };

      /* maximum time in milliseconds to wait for group activation or termination */            
      groupTimeout = 60000; /* This is the default value, but make it explicit so it is clear how to change it */

}//end com.sun.jini.phoenix 
