import java.rmi.activation.ActivationID;
import com.mathworks.toolbox.distcomp.util.ConfigUtil;
import net.jini.jrmp.JrmpExporter;
import net.jini.activation.ActivationExporter;
import com.mathworks.toolbox.distcomp.control.PortConfig;

/* Copyright 2004-2005 The MathWorks, Inc. */

com.sun.jini.reggie {

    initialMemberGroups = new String[] {"${com.mathworks.toolbox.distcomp.membergroups}"};
    persistenceDirectory = "${com.mathworks.toolbox.distcomp.persistenceDir}";
    unicastDiscoveryHost = "${com.mathworks.toolbox.distcomp.hostname}";
    initialUnicastDiscoveryPort = PortConfig.getLookupUnicastPort("${com.mathworks.toolbox.distcomp.base_port}");
    serverPort = PortConfig.getLookupExportPort("${com.mathworks.toolbox.distcomp.base_port}");
    serverExporter = new ActivationExporter((ActivationID) $data, new JrmpExporter(serverPort));
}
