# Environment variables needed by MATLAB

# Copyright 2004-2009 The MathWorks, Inc.

set.MATLAB=%MATLAB%
set.AUTOMOUNT_MAP=%AUTOMOUNT_MAP%
set.DISPLAY=%DISPLAY%
set.ARCH=%ARCH%
set.XAPPLRESDIR=%XAPPLRESDIR%
set.XKEYSYMDB=%XKEYSYMDB%
set.MATLAB_MEM_MGR=%MATLAB_MEM_MGR%
set.MATLAB_DEBUG=none
set.SHELL=%SHELL%
set.MATLAB_JAVA=%JREBASE%

# copy library paths from environment variables that carried through sudo
set.LD_LIBRARY_PATH=%MDCE_LD_LIBRARY_PATH%
set.DYLD_LIBRARY_PATH=%MDCE_DYLD_LIBRARY_PATH%

#set.LM_LICENSE_FILE=%LM_LICENSE_FILE%
#set.TOOLBOX=%TOOLBOX%
#set.MATLABPATH=%MATLABPATH%
#set.LD_LIBRARY_PATH=%LD_LIBRARY_PATH%
