#ja-cssmenu li a.active, #ja-cssmenu li a.active:hover, #ja-cssmenu li a.active:active, #ja-cssmenu li a.active:focus {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #1374A5;
    background-image: url("../../images/arrow2.png");
    background-origin: padding-box;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: auto auto;
    color: #C3DFED;
}

#ja-cssmenu li a:hover, #ja-cssmenu li a:active, #ja-cssmenu li a:focus, #ja-cssmenu li a:sfhover{
	color: #C3DFED;
	background-color: #4394BD;
	background-image: url("../../images/arrow2.png");
	background-position: center bottom;
    	background-repeat: no-repeat;
	background-size: auto auto;
	
}
#ja-cssmenu li:hover,
#ja-cssmenu li.sfhover,
#ja-cssmenu li.havechildsfhover,
#ja-cssmenu li.havechild-activesfhover {
	color: #C3DFED;
	background-color: #4394BD;
	background-image: url("../../images/arrow2.png");
	background-position: center bottom;
    	background-repeat: no-repeat;
	background-size: auto auto;
}

#ja-cssmenu li a {
    border-left:1px solid #4394BD;
    border-right:1px solid #005A87;
    color: #C3DFED;
    display: block;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 0;
    margin-left: 1px;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    text-decoration: none;
}	
