/**
 * CSS styles for sam-logger
 * Copyright 2008 The MathWorks, Inc.
 */
 
body {
    width:800px; 
    font-size:10pt; 
    font-family:Arial, Helvetica, Geneva, sans-serif;
}
div.m3iLogger {}
div.m3iLogger table {
    width:100%; 
    margin-top:1px; 
    margin-bottom:20px; 
    border:1px lightgrey solid; 
    border-collapse:collapse;
}
div.m3iLogger tr.Start { color:blue; }
div.m3iLogger tr.End { color:blue; }
div.m3iLogger tr.Trace { color:gray; }
div.m3iLogger tr.Debug { color:gray; }
div.m3iLogger tr.Info { color:black; }
div.m3iLogger tr.Warning { color:darkred; }
div.m3iLogger tr.Error { color:red; }
div.m3iLogger tr.Fatal { color:red; }
div.m3iLogger th { text-align:left; }
div.m3iLogger td { width:80%; text-align:left; border-top:1px lightgrey solid; }
div.m3iLogger td.level { width:5em; font-size:smaller; }
div.m3iLogger td.time { width:10%; font-size:smaller; }
div.m3iLogger span.li { display: list-item; font-size:smaller; color:gray; list-style-position: inside; list-style-type: square; margin-left:1em; }
div.m3iLogger span.li.lev1 { }
div.m3iLogger span.li.lev2 { margin-left:2em; }
div.m3iLogger span.li.lev3 { margin-left:3em; }
div.m3iLogger span.li.lev4 { margin-left:4em; }
div.m3iLogger span.li.levmax { margin-left:4em; }

