/**
 * CSS styles for m3i-model pretty print
 * Copyright 2008-2010 The MathWorks, Inc.
 */

div.m3iModelPrint {
    font-size:100%;
}
div.m3iModelPrint h1.head { 
    display:block;
    margin:20px 0px 0px 0px; /* top right bottom left*/
    font-family: Cambria, serif; 
    font-size:180%;
    font-weight:normal;
    background-color:White;        
    margin-left:-60px;
    margin-top:0pt;
    margin-bottom:15pt;
    border-bottom-style:solid; 
    border-bottom-width:1px;
}
div.m3iModelPrint h1.head span.type {
    color:green;
}
div.m3iModelPrint h1.head span.element {
    color:navy;
}
div.m3iModelPrint table { 
    margin-top:1px; margin-bottom:20px; 
    width:100%;
    border:lightgrey solid;
    border-width:0px 0px 1px 0px; /*top right bottom left*/ 
    margin:0px 0px 5px 0px; /* top right bottom left*/
    font-size:100%;
}
div.m3iModelPrint td.value table { 
    border:0px;
    margin:0px;
}
div.m3iModelPrint td.value table td { 
    border: 0px;
}
div.m3iModelPrint tr {
    min-width:100%;
}
div.m3iModelPrint td { 
    vertical-align:top; 
    text-align:left;
    border:lightgrey solid;
    border-width:1px 0px 0px 0px; /*top right bottom left*/ 
}

div.m3iModelPrint tr.property {
}
div.m3iModelPrint tr.empty { 
    /*background-color:lightgrey;*/ 
}
div.m3iModelPrint tr.derived { 
    background-color:ghostwhite; 
    font-style:italic; 
}
div.m3iModelPrint tr.error {
}

div.m3iModelPrint td.name { 
    color:black; 
    width:10%;
    min-width:10%;
}
div.m3iModelPrint td.metatype { 
    color:SlateGrey; 
    width:15%;
    min-width:15%;
    text-align:left;
}
div.m3iModelPrint td.type { 
    color:green; 
    width:25%;
    min-width:25%;
    text-align:left;
}
div.m3iModelPrint td.value { 
    color:blue;
    width:50%;
    min-width:50%;
    max-width:50%;
    white-space:normal;
}
div.m3iModelPrint td.value .String { 
    color:blue;
}
span.softwrap:before {
    /* trick to force hyphenation; this insert
    a hidden white space and then move back left a bit ;-)
    */
    content: "\0020"; /* soft hyphen */
    margin-left:-4px;
}
div.m3iModelPrint tr.empty td.value { 
    color:purple; 
}
div.m3iModelPrint td.error { 
    color:red; 
}

div.m3iModelPrint p.topHeader { 
    color:gray;
    display:block;
    margin:0px 0px 15px -60px; /* top right bottom left*/
    font-family: Cambria, serif; 
    font-size:100%;
    font-weight:normal;
    background-color:White;        
}

/* =============================================================================
   for Floating Menu 
   http://www.quirksmode.org/quirksmode.css
**/

/* absolute; */
div#FloatingMenu {
	width: 20em;
	position:fixed;
	top: 0px;
	right: 0px;
	line-height: 100%;
}

div#FloatingMenuContent div {
	display: none;
	width: 20em;
	border:  1px solid #999999;
	border-width: 1px 0;
	padding: 10px 0;
	padding-bottom: 25px;
	background-color: LIGHTYELLOW;
}

div#FloatingMenuContent span.button { 
	/*width:4em;*/
	display:inline;
	cursor: pointer;
	font-size: 80%;
	background-color: LIGHTYELLOW;
	color: blue;
    margin: 5px;
	border:  1px solid grey;
	border-width: 1px;
}

div#FloatingMenuContent span.floatCmd {
	margin-left: 18.5em;
	width:4em;
	display:block;
	cursor: pointer;
	font-size: 90%;
	border:  1px solid grey;
	border-width: 1px;
	background-color: LIGHTYELLOW;
	color: blue;
}

div#FloatingMenuContent span.floatCmd.block { 
    color: red; 
}

div#FloatingMenuContent a {
	display: list-item;
	margin-left: 16px;
	font-size: 90%;
	margin-top: 5px;
	color:blue;
}

div#FloatingMenuContent a.H1 { margin-left: 2em; }
div#FloatingMenuContent a.H2 { margin-left: 3em; }
div#FloatingMenuContent a.H3 { margin-left: 4em; }
div#FloatingMenuContent a.H4 { margin-left: 5em; }
div#FloatingMenuContent a.H5 { display:none; margin-left: 6em; }
div#FloatingMenuContent a:visited { color:gray; }
div#FloatingMenuContent a:hover,a:focus { color: red; }

div#FloatingMenuContent div#innertocContent { 
    font-size: smaller; 
    line-height: 100%;
    height: 30em;
    /* this is really magic! 
    adds a scroll if text greater that size */
    overflow:scroll;
}

div#FloatingMenuContent div#innersearch { font-size: smaller; }
div#FloatingMenuContent div#grepResultArea { 
    line-height: 100%;
    height: 30em;
    overflow:scroll;
}

div#FloatingMenuContent div#innerverbosity { 
    font-size: smaller; 
}

div#FloatingMenuContent span#printButton.printer { 
    color : gray;
    margin-left:-45px;
	border:  0px;
	background-color: WHITE;
	margin-top: 0.40em;
	margin-bottom: 0.40em;
}

div#FloatingMenuContent span#contentheader.printer { 
    font-size : 150%;
    color : red;
    margin-left:-45px;
	border:  0px;
	background-color: WHITE;
	margin-top: 0.40em;
	margin-bottom: 0.40em;
	cursor: auto;
}

/* =============================================================================
   Main body container with specific print and screen properties
**/
body {
    width: 8.5in; /* NEED!!! otherwise width decrease for some reasons*/
    color : black;
    background-color:white;
    font-size:100%;
    font-family : Calibri, sans-serif;
    position:absolute;
    left: 60px; /* shift because of the minus in styles*/
    right: 0px; /* shift because of the minus in styles*/
}

@media screen { 
	@page {
        size: 8.5in 11in; /* Letter format: 8.5x11in, i.e. 21.6x27.9cm*/
    }
    body {
        font-size:12pt;
        font-family:Calibri, sans-serif;
    }
	/*.noPrint { display: normal; }*/
	.noScreen { display: none; }
    div#FloatingMenu {
        width: 20em;
        position: fixed; 
        top: 0px;
        right: 0px;
        line-height: 100%;
    }
	div#FloatingMenuContent div {
        display: block;        
		background-color: LIGHTYELLOW;
	}
	div#FloatingMenuContent a:visited { }
}

@media print { 
	@page {
        size: 8.5in 11in; /* Letter format: 8.5x11in, i.e. 21.6x27.9cm*/
    }
    body {
        font-size:12pt;
        font-family:Arial, Helvetica, Geneva, sans-serif;;
    }
    a {text-decoration:none}
    .noPrint { display: none; }	
    /*.noScreen { display: normal; }*/
    H1 {
        page-break-before: auto;
        page-break-after: avoid;
        page-break-inside: avoid;	}
    TABLE { page-break-before: avoid }
}
